@model IEnumerable<E_Commerce_Cake.Models.Database.UserType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";

}

<h1>UserType List</h1>
<hr />
<p>
    <a class="btn bg-primary text-white" asp-action="Create">Add UserType</a>
</p>
<table class="table">
    <thead class="bg-dark text-white text-uppercase tbody border-1 border-dark">
        <tr>
            <th>id</th>
            <th>
                User Type
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="bg-light tbody border-1 border-dark">
@foreach (var item in Model) {
            
                <tr>
                <td>
                    #@Html.DisplayFor(modelItem => item.Id)
                </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                @if (item.Type == TempData["Customer"])
                {
                    <td>
                        <a class="btn bg-success text-white" asp-action="Edit" asp-route-id="@item.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                            </svg>
                        </a> |
                        <a class="btn bg-dark text-white" asp-action="Index" asp-controller="Customer" asp-route-id="@item.Id">Details</a>
                    </td>
                }
                else
                {
                    <td>
                        <a class="btn bg-success text-white" asp-action="Edit" asp-route-id="@item.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                            </svg>
                        </a> |
                        <a class="btn bg-dark text-white" asp-action="AdminList" asp-controller="Admin" asp-route-id="@item.Id">Details</a>
                    </td>
                }
                </tr>
        }
    </tbody>
</table>
