@model E_Commerce_Cake.Models.Database.Invoice

@{
    ViewData["Title"] = "Details";
    Layout = "../Shared/_Customer.cshtml";
}


<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2> Order Address</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a asp-action="IndexCustomer">Back</a>
                    <span>Order</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<hr />

<section class="contact spad">
    <div class="container">
        <div class="contact__address">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__form">
                        <div>
                            <dl class="row">
                                <dt class="col-sm-4">
                                    Order Time
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Time.Name)
                                </dd>
                                <dt class="col-sm-4">
                                    Coupon Code
                                </dt>
                                <dd class="col-sm-8">
                                    @if (Model.CouponCode == null)
                                    {
                                        <span>Empty</span>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => model.CouponCode)
                                    }
                                </dd>

                                <dt class="col-sm-4">
                                    Shiping Address
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Address)
                                </dd>
                                <dt class="col-sm-4">
                                    City
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Citys.Name)
                                </dd>
                                <dt class="col-sm-4">
                                    State
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.States.Name)
                                </dd>
                                <dt class="col-sm-4">
                                    Area
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => model.Areas.Name)
                                </dd>
                                <dt class="col-sm-4">
                                    Name
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt class="col-sm-4">
                                    Phone
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Phone)
                                </dd>
                                <dt class="col-sm-4">
                                    Total Bill
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.TotalBill)
                                </dd>
                            </dl>
                        </div>
                        <div>
                            <a class="btn bg-dark text-white" asp-action="IndexCustomer">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
