@model E_Commerce_Cake.Models.Database.Invoice

@{
    ViewData["Title"] = "Details";
    Layout = "../Shared/_Admin.cshtml";
}

<h1>Invoice Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Order Time
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time.Name)
        </dd>
        <dt class = "col-sm-2">
            Coupon Code
        </dt>
        <dd class = "col-sm-10">
            @if (Model.CouponCode == null)
            {
                <span>Empty</span>

            }
            else
            {
                @Html.DisplayFor(model => model.CouponCode)

            }
        </dd>
        <dt class = "col-sm-2">
            User Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt class="col-sm-2">
            User First Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>
        <dt class="col-sm-2">
            User Last Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>
        <dt class="col-sm-2">
            User Phone No
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Phone)
        </dd>
        <dt class = "col-sm-2">
            Shiping Address
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            City
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Citys.Name)
        </dd>
        <dt class = "col-sm-2">
            States
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.States.Name)
        </dd>
        <dt class = "col-sm-2">
            Area
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Areas.Name)
        </dd>
        <dt class = "col-sm-2">
            Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Phone
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            Total Bill
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalBill)
        </dd>
    </dl>
</div>
<div>
    <a class="btn bg-dark text-white" asp-action="Index">Back to List</a>
</div>
